{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    &nbsp;
</div>
<div class="container my-5">
    <br>
    <h1 class="mt-5 mb-3">Regras do Bolão</h1>
    <p>
        Cada participante deverá acertar o pódio em cada modalidade. Por pais, não por atleta.<br>
        Quem somar mais pontos, ao fim da competição, é o vencedor do Bolão.<br>
        Os "palpites" poderão ser feitos até dois dias antes da primeira competição que define medalha para a
        determinada modalidade.
    </p>


    <h1 class="mt-5 mb-3">
        Pontuação
    </h1>
    <p>
        Acerto do pais e sua <strong>respectiva posição</strong>: 3 pontos<br>
        Acerto do pais, porém na <strong>posição do pódio errada</strong>: 1 ponto<br>
        Acerto do <strong>Pódio completo</strong>: Bônus de 5 pontos<br>
        Caso dois ou mais participantes empatem em primeiro lugar no Bolão,<br>
        ganha o que tiver acertado mais <strong>medalhas de Ouro</strong>.<br>
    </p>
    <h1 class="mt-5 mb-3">
        Premiação
    </h1>
    <p>
        <strong>Primeiro Lugar</strong> Premio 1
    </p>
    <p>
        <strong>Segundo Lugar</strong> Premio 2
    </p>
    <p>
        <strong>Terceiro Lugar</strong> Premio 3
    </p>
</div>

{% endblock content %}