/* Cores */

:root {
  --blue_midnight: #1E5094;
  --blue_resolution: #27A2BA;
  --blue_pantone: #1B4987;
  --blue_medium: #2FF3E0;
  --blue_eletric_indigo: #7417EF;
  --orange_flame: #F97C58;
  --orange_international: #FF4F00;
  --orange_yellow: #FF9200;
  --yellow_cyber: #FFD400;
  --yellow_pantone: #FFDF3F;
  --yellow_others: #DDDD00;
  --green_malchite: #7796f0;
  --grey_light: #ECF1F4;
  --grey_medium: #4A4A57;
  --grey_dark: #12121D;
  --white_clear: #FAFCFE;
}

/* end cores */

body {
  background-color: var(--grey_light);
  font-family: Verdana, Arial Bold, Helvetica;
}

.navbar {
  background-color: var(--white_clear);
}

.btn-primary {
  color: var(--white_clear);
  background-color: var(--blue_midnight);
  border-color: var(--blue_midnight);
}

.bg-primary {
  background-color: var(--green_malchite)!important;
}

.modalidade-card {
  background-color: var(--white_clear);
}

.accordion-button:not(.collapsed) {
  color: var(--blue_resolution)!important;
  background-color: #c4f27a!important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.card-wrapper {
  border: 0.4rem solid;
}

.text-primary {
  color: var(--blue_midnight)!important;
}

.border-success {
  border-color: var(--green_malchite)!important;
}

body {
  scroll-behavior: smooth;
}

/* stylelint-disable-next-line selector-max-universal */

.bd-heading+div>*+* {
  margin-top: 3rem;
}

/* Table of contents */

.bd-aside a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: .3125rem;
  color: rgba(0, 0, 0, .65);
  text-decoration: none;
}

.bd-aside a:hover, .bd-aside a:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .active {
  font-weight: 600;
  color: rgba(0, 0, 0, .85);
}

/* Layout */

@media (min-width: 1200px) {
  body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
  }
  .bd-header {
    position: fixed;
    top: 0;
    /* rtl:begin:ignore */
    right: 0;
    left: 0;
    /* rtl:end:ignore */
    z-index: 1030;
    grid-column: 1 / span 3;
  }
  .bd-aside, .bd-modalidade {
    padding-top: 4rem;
  }
  /**
     * 1. Too bad only Firefox supports subgrids ATM
     */
  .bd-modalidade, .bd-modalidade section, .bd-modalidade article {
    display: inherit;
    /* 1 */
    gap: inherit;
    /* 1 */
    grid-template-columns: 1fr 5fr;
    grid-column: 1 / span 2;
    grid-template-rows: auto;
  }
  .bd-aside {
    grid-area: 1 / 3;
    scroll-margin-top: 4rem;
  }
  .bd-modalidade section, .bd-modalidade section>h2 {
    top: 2rem;
    scroll-margin-top: 2rem;
  }
  .bd-modalidade section>h2::before {
    position: absolute;
    /* rtl:begin:ignore */
    top: 0;
    right: 0;
    bottom: -2rem;
    left: 0;
    /* rtl:end:ignore */
    z-index: -1;
    content: "";
  }
  .bd-modalidade article, .bd-modalidade .bd-heading {
    top: 8rem;
    scroll-margin-top: 8rem;
  }
  .bd-modalidade .bd-heading {
    z-index: 1;
  }
}